In [3]:
import pandas as pd

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [7]:
df = pd.read_csv(r"C:\Users\Lipika\Downloads\Amazon Sales data (1).csv")

In [9]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,02/05/2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,01/02/2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [11]:
df.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [13]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [15]:
type(df['Order Date'][6])

str

In [17]:
type(df['Order Date'][6])
import datetime
format = '%m/%d/%Y'
datetime_str = datetime.datetime.strptime(df['Order Date'][6], format)
datetime_str

datetime.datetime(2011, 4, 23, 0, 0)

In [19]:
df['Order Date Time']= df['Order Date'].apply(lambda x:datetime.datetime.strptime(x, format))

In [21]:
df['Order Date Time'].head()

0   2010-05-28
1   2012-08-22
2   2014-02-05
3   2014-06-20
4   2013-01-02
Name: Order Date Time, dtype: datetime64[ns]

In [23]:
df['Order Date Time'][1].strftime('%B')

'August'

In [25]:
df['Month']= df['Order Date Time'].apply(lambda x:x.strftime('%B'))

In [27]:
df['Month'].head()

0         May
1      August
2    February
3        June
4     January
Name: Month, dtype: object

In [41]:
df['Month'].value_counts()

Month
July         15
June         10
November     10
October      10
May           9
August        9
February      8
January       8
April         8
September     5
December      4
March         4
Name: count, dtype: int64

In [31]:
month_wise = df.groupby('Month')['Units Sold'].sum()
print(month_wise)

Month
April        32386
August       50947
December     15095
February     33700
January      48794
July         83395
June         42434
March        17041
May          54745
November     49547
October      56191
September    28596
Name: Units Sold, dtype: int64

In [43]:
df['Order Date Time'][1].strftime('%Y')

'2012'

In [43]:
df['Year'] = df['Order Date Time'].apply(lambda x:x.strftime('%Y'))

In [45]:
df['Year'].value_counts()

Year
2012    22
2014    15
2013    12
2011    12
2015    11
2010    10
2016    10
2017     8
Name: count, dtype: int64

In [47]:
Year_wise = df.groupby('Year')['Units Sold'].sum()
print ( Year_wise)

Year
2010    61571
2011    54768
2012    97967
2013    64663
2014    92040
2015    49480
2016    43156
2017    49226
Name: Units Sold, dtype: int64

In [49]:
df['Order Date Time'][1].strftime('%Y,%B')

'2012,August'

In [51]:
df['Year_month']= df['Order Date Time'].apply(lambda x:x.strftime('%Y,%B'))

In [53]:
df['Year_month'].value_counts()

Year_month
2014,October      3
2012,July         3
2014,July         3
2012,May          3
2011,November     3
2012,August       3
2015,July         3
2014,February     3
2010,June         2
2016,June         2
2012,June         2
2010,October      2
2012,October      2
2012,September    2
2011,July         2
2017,May          2
2016,July         2
2012,February     2
2013,September    2
2011,April        2
2010,December     2
2015,January      2
2014,June         2
2016,November     2
2012,April        2
2017,August       2
2017,January      2
2015,April        2
2013,June         1
2011,August       1
2013,October      1
2013,November     1
2013,April        1
2015,August       1
2014,March        1
2011,May          1
2010,November     1
2011,January      1
2016,October      1
2011,September    1
2013,July         1
2012,March        1
2015,February     1
2013,May          1
2010,May          1
2013,March        1
2015,October      1
2013,January      1
2014,April        1
2011,June         1
2014,May          1
2014,August       1
2010,July         1
2013,December     1
2017,February     1
2013,August       1
2012,January      1
2017,November     1
2015,November     1
2016,March        1
2016,December     1
2012,November     1
2010,February     1
2016,January      1
Name: count, dtype: int64

In [55]:
Yearmonth_wise = df.groupby('Year_month')['Units Sold'].sum()
print(Yearmonth_wise)

Year_month
2010,December      4103
2010,February      2269
2010,July          5822
2010,June         17139
2010,May           9925
2010,November      7910
2010,October      14403
2011,April         8272
2011,August        8156
2011,January       8829
2011,July          6406
2011,June           124
2011,May           5741
2011,November     13508
2011,September     3732
2012,April         2195
2012,August       14942
2012,February     10409
2012,January       6708
2012,July         16107
2012,June          2192
2012,March         6457
2012,May          11266
2012,November      1266
2012,October       9880
2012,September    16545
2013,April         5010
2013,August        9606
2013,December      2125
2013,January       5062
2013,July          9654
2013,June          4750
2013,March         4063
2013,May           9892
2013,November      4477
2013,October       1705
2013,September     8319
2014,April         6593
2014,August        2187
2014,February     10848
2014,July         21728
2014,June         15056
2014,March         5559
2014,May           7450
2014,October      22619
2015,April        10316
2015,August         673
2015,February      2847
2015,January      13680
2015,July         13110
2015,November      5930
2015,October       2924
2016,December      8867
2016,January       1485
2016,July         10568
2016,June          3173
2016,March          962
2016,November     13441
2016,October       4660
2017,August       15383
2017,February      7327
2017,January      13030
2017,May          10471
2017,November      3015
Name: Units Sold, dtype: int64